h1 {
    color:rgb(56, 43, 1)
}


ion-card {
    background-color: transparent;
}

ion-card-tittle {
    color: rgb(56, 43, 1);
    font-size: 1.5em;
    font-weight: 300;
}

.logo {
    max-width: 50% ;
    height: auto;
}

ion-label {
    color: red;
    font-size: 1.5em;
}