<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario de Ingredientes
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><strong>Ingrediente</strong></ion-col>
      <ion-col><strong>Cantidad</strong></ion-col>
      <ion-col><strong>Unidades</strong></ion-col>
    </ion-row>
    <ng-container class="contenedor" *ngFor="let row of rows">
      <ion-row>
        <ion-col>
          <ion-select placeholder="Selecciona un ingrediente">
            <ion-select-option *ngFor="let option of options" [value]="option">{{ option }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-input type="number" placeholder="Cantidad"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input placeholder="Unidades"></ion-input>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <mat-spinner></mat-spinner>
</ion-content>
