<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Página de Registro
    </ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Página de Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="cuerpo-page">
    <ion-card>
      <ion-card-content>
        <ion-card-title>
          <h1>Ingresa tus datos</h1>
        </ion-card-title>
      
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombre"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="apellido"></ion-input>
        </ion-item>

      </ion-card-content>
      <ion-button (click)="limpiar()">Limpiar</ion-button>
      <ion-button shape="block" (click)="registrar()">Registro: {{ mensaje }}</ion-button>
    </ion-card>
    <!-- Aquí se incluye el componente NombresComponent -->
    <app-nombres [nombre]="nombre" [apellido]="apellido"></app-nombres>
  </div>
</ion-content>

